@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Monoton&family=Rubik+Mono+One&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ff0a78;
    --background: #0e141b;
    --text: #f2f5f7;
    --text-rgb: 242 245 247;
    --textGrey: #9ca8b4;
    --textGrey-rgb: 156 168 180;
    --dark: #0e0e0e;
    --light: #182635;
    --light-rgb: 24 38 53;
    --accentPink: #e60067;
    --accentGrey: #2b333b;
    --accentDark: #ffe100;
    --accentDark2: #4a67f7;
    --blueDark: #182635;
    --blueLight: #4a67f7;
    --tinted: #151f28;
    --link: #ffe100;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;

    background-color: var(--background);
    color: var(--text);

    user-select: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.gap-2 {
    gap: 0.5rem;
}

.t {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

.t-7 {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms;
}

.t-before::before {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}
